.AddContent {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.AddContent th{
    text-align: center;
    /* padding-bottom: 50px; */
}
.AddContent .head{
    /* text-align: center; */
    color: silver;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 13%;
}

.AddContent table button{
    background-color: rgb(61, 54, 54);
    /* color: rgb(114, 134, 72); */
    color: silver;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 13%;
}

.AddContent table button:hover{
    cursor: pointer;
}

.AddContent .AddContent_table td{
    color: silver;
    text-align: center;
}

.AddContent table textarea{
    width: 500px;
    background-color: rgb(61, 54, 54);
    color: silver;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    resize: none;
}

.AddContent table input{
    height: 30px;
    width: 500px;
    background-color: rgb(61, 54, 54);
    color: silver;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 5px;
}

#TA_desc{
    height: 100px;
}

#TA_direc{
    height: 30px;
}

#TA_actor{
    height: 60px;
}

#TA_genre{
    height: 50px;
}

#TA_url{
    height: 25px;
    min-height: 20px;
    max-height: 30px;
}

.AddContent .AddContent_table{
    justify-content: center;
    align-items: center;
}

