.Admin {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Admin table button{
    background-color: rgb(61, 54, 54);
    color: rgb(114, 134, 72);
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 80px;
}

.Admin table button:hover{
    cursor: pointer;
}

.Admin .Admin_table td{
    color: rgb(114, 134, 72);
    text-align: center;
}

.Admin table textarea{
    width: 500px;
    background-color: rgb(61, 54, 54);
    color: gray;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    resize: none;
}

.Admin table input{
    height: 30px;
    width: 500px;
    background-color: rgb(61, 54, 54);
    color: gray;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 5px;
}

#TA_desc{
    height: 100px;
}

#TA_direc{
    height: 30px;
}

#TA_actor{
    height: 60px;
}

#TA_genre{
    height: 50px;
}

#TA_url{
    height: 25px;
    min-height: 20px;
    max-height: 30px;
}

.Admin .Admin_table{
    justify-content: center;
    align-items: center;
}

