.Review {
    /* background-color: coral; */
    background-color: rgb(30, 30, 30);
    color: wheat;
    margin-top: 200px;
}
.Review a{
    text-decoration: none;
    color: rgb(114, 134, 72);
    margin-left: 5px;
}

.Review .content_info_area{
    width: 70%;
    min-height: 500px;
    border-style: solid;
    margin-left: 15%;
}

.Review .content_info_area div{
    display: block;
}
.Review .content_info_area .poster{
    width: 40%;
    float: right;
    /* position: relative; */
    /* float: inline-end; */
    /* float: inline-start; */
}
.Review .content_info_area .poster img{
    width: 100%;
}

.Review .content_info_area .content_info{
    /* float: left; */
    /* position: relative; */
}

.Review .content_info_area .content_info .title{
    margin-left: 5%;
}
.Review .content_info_area .content_info .year{
    display: inline;
    color: blue;
}
.Review .content_info_area .content_info .Star_Rating{
    margin-left: 5%;
    display: inline;
}
.Review .content_info_area .content_info .rating{
    display: inline;
    font-size: xx-large;
}
.Review .content_info_area .content_info .ratingNumber{
    display: inline;
    font-size: large;
    margin-left: 10px;
}
.Review .content_info_area .content_info .item{
    display: inline;
    font-size: large;
    margin-left: 5%;
}
.Review .content_info_area .content_info .list{
    display: inline;
    font-size: large;
    margin-left: 5%;
}

.Review .content_info_area .content_info .div_inline{
    display: inline;
    color: red;
}




.Review .review {
    margin-top: 20px;
}

.Review .review .btn_star{
    margin-left: 50px;
    margin-right: 100px;
    display: inline;
}
.Review .review textarea{
    display: inline;
    width: 250px;
}





.Review .review .star1{
    display: inline;
    width: 12px;
    height: 24px;
    border: 0;
    background: url(https://ssl.pstatic.net/static/movie/2019/09/sp_ico3.png) no-repeat;
    background-position: 0px -1060px;
    cursor: pointer;
    outline: 0;
}
.Review .review .star2{
    margin-left: 0px;
    display: inline;
    width: 12px;
    height: 24px;
    border: 0;
    background: url(https://ssl.pstatic.net/static/movie/2019/09/sp_ico3.png) no-repeat;
    background-position: -13px -1060px;
    cursor: pointer;
    margin-right: 10px;
    outline: 0;
}
.Review .age19{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    display: inline;
    float: right;
    margin-right: 30px;
  }
  .Review .age15{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    display: inline;
    float: right;
    margin-right: 30px;
  }
  .Review .age12{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    display: inline;
    float: right;
    margin-right: 30px;
  }
   .Review .age1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    display: inline;
    float: right;
    margin-right: 30px;
  }
  .Review .clear{
    clear: both;
}