.Find{
    background-color: black;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.Find .contents {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-gap: 60px;
    width: 95%;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
    height: 100%;
  }


