.Logout button{
    border-style: none;
    background-color: transparent;
    color: silver;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;

}

.Logout button:hover{
    cursor: pointer;
}