     .Menu {
      flex-direction: column;
      position: fixed;
      z-index: 1;
      display: flex;
      top: 0px;
      bottom: initial;
      padding: 10px 20px;
      background-color: rgb(61, 54, 54);
      width: 100%;
      display: inline;
      text-align: center;
      box-shadow: 0px 1px 1px rgb(112, 102, 102);
    }
  
  .Menu .Logout{
    display: inline;
    padding-left: 30px;
  }
  .Menu a {
    padding-left: 40px;
    text-decoration: none;
    color: silver;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: 800;
    display: inline;
  }
  
  .Menu a:not(:last-child) {
    margin-bottom: 20px;
  }