.Profile {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .Profile .heart{
    width: 100px;
    height: 100px;
    background-color: red;
} */
.heart {
    width: 30px;
    height: 30px;
    background: white;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .heart::before,
  .heart::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background: white;
  }
  .heart::before {
    left: -50%;
  }
  .heart::after {
    top: -50%;
  }