.Review {
    /* background-color: coral; */
    background-color: rgb(30, 30, 30);
    color: wheat;
}

.Review .content_info_area{
    width: 60%;
    border-style: solid;
    margin-left: 20%;
}

.Review .content_info_area div{
    display: block;
}

.Review .content_info_area .content_info{
    /* float: left; */
    /* position: relative; */
}

.Review .content_info_area .content_info .div_inline{
    display: inline;
    color: red;
}

.Review .content_info_area .content_info .tag_inline{
    /* display: inline; */
    margin-left: 5px;
}
.Review .content_info_area .content_info .tag_inline a{
    margin-left: 5px;
   
}

.Review .content_info_area .poster{
    width: 50%;
    /* float: right; */
    position: relative;
    /* float: inline-end; */
    /* float: inline-start; */
    position: relative;
}
.Review .content_info_area .poster img{
   width: 100%;
}
.Review .review {
    margin-top: 20px;
}

.Review .review .btn_star{
    margin-left: 50px;
    margin-right: 100px;
    display: inline;
}
.Review .review textarea{
    display: inline;
    width: 250px;
}
.Review .review .star1{
    display: inline;
    width: 12px;
    height: 24px;
    border: 0;
    background: url(https://ssl.pstatic.net/static/movie/2019/09/sp_ico3.png) no-repeat;
    background-position: 0px -1060px;
    cursor: pointer;
    outline: 0;
}
.Review .review .star2{
    margin-left: 0px;
    display: inline;
    width: 12px;
    height: 24px;
    border: 0;
    background: url(https://ssl.pstatic.net/static/movie/2019/09/sp_ico3.png) no-repeat;
    background-position: -13px -1060px;
    cursor: pointer;
    margin-right: 10px;
    outline: 0;
}


/* .Review .content_info_area .clear{
    clear: both;
} */
